<ion-content>
  <ion-label color="secondary" *ngIf="!isLoading && images.length == 0">
    {{emptyListMsg}}
  </ion-label>

  <ion-label color="secondary" *ngIf="isLoading"> {{loadingMsg}} </ion-label>

  <ion-label>
    <ion-text color="danger" *ngIf="errorMsg">{{errorMsg}}</ion-text>
  </ion-label>

  <ion-content [scrollEvents]="true" *ngIf="!isLoading">
    <ion-list *ngFor="let img of images" (click)="onSelect(img)">
      <ion-row>
        <ion-col size="1" id="checkbox"
          ><ion-icon
            name="checkmark"
            color="secondary"
            *ngIf="isSelected(img)"
          ></ion-icon>
        </ion-col>
        <ion-col id="img"> <app-image [image]="img"></app-image></ion-col>
      </ion-row>
    </ion-list>
  </ion-content>
</ion-content>
<ion-button expand="full" (click)="openModal()" [disabled]="isNothingSelected()"
  >Send</ion-button
>
