.input {
  width: 80%;
  margin: 0 auto;
}

form {
  margin: 5% auto;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 80vw;
  max-height: 90vh;
  width: auto;
  height: auto;
}

ion-button {
  width: 80%;
  margin: 5% auto;
}
