<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Reset Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="resetPasswordForm" (submit)="resetPassword()">
    <ion-item class="input">
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email" placeholder="Enter your email">
      </ion-input>
    </ion-item>

    <app-form-validation
      [isSubmitted]="isSubmitted"
      [validations]="validations.email"
      [control]="controls.email"
    ></app-form-validation>

    <div id="formAlert">
      <ion-text color="danger" *ngIf="errorMsg">{{errorMsg}}</ion-text>
    </div>
    <div id="formAlert">
      <ion-text id="success" color="success" *ngIf="successMsg"
        >{{successMsg}}</ion-text
      >
    </div>

    <ion-button type="submit" expand="block">
      Send Reset Password Email
    </ion-button>
  </form>

  <ion-row id="login">
    <ion-col size="5">
      <ion-label>Go back to Login?</ion-label>
      <ion-button color="secondary" (click)="navToLogin()" fill="clear">
        Login
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>
