<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Upload</ion-title>
    <ion-menu-button slot="start" menu="appMenu" color="dark"></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar color="primary" slot="top">
      <ion-tab-button tab="upload-image">
        <ion-label>Image</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="upload-link">
        <ion-label>Link</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="upload-text">
        <ion-label>Text</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
