<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title>Upload</ion-title>
    <ion-menu-button slot="start" menu="appMenu" color="dark"></ion-menu-button>
  </ion-toolbar>
</ion-header>

<super-tabs>
  <super-tabs-toolbar slot="top" scrollable>
    <super-tab-button>
      <ion-label>Image</ion-label>
    </super-tab-button>
    <super-tab-button>
      <ion-label>Link</ion-label>
    </super-tab-button>
    <super-tab-button>
      <ion-label>Text</ion-label>
    </super-tab-button>
  </super-tabs-toolbar>

  <super-tabs-container>
    <super-tab>
      <ion-nav [root]="uploadImage"></ion-nav>
    </super-tab>
    <super-tab>
      <ion-nav [root]="uploadLink"></ion-nav>
    </super-tab>
    <super-tab>
      <ion-nav [root]="uploadText"></ion-nav>
    </super-tab>
  </super-tabs-container>
</super-tabs>
