.input {
  width: 80%;
  margin: 0 auto;
}

.form-msg {
  margin: 2% auto;
  width: 80%;
  font-size: small;
}

#formSuccess {
  margin: 2% auto;
  width: 80%;
  font-size: small;
}

ion-button {
  width: 80%;
  margin: 8% auto;
}
