.input {
  width: 80%;
  margin: 0 auto;
}

#formAlert,
#success {
  margin: 2% auto;
  width: 80%;
  font-size: small;
}

ion-button {
  width: 80%;
  margin: 8% auto;
}

#form {
  margin: 5% auto;
}

#static {
  ion-label {
    font-size: small;
  }
}
