<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Profile</ion-title>
    <ion-menu-button slot="start" menu="appMenu" color="dark"></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form id="form" [formGroup]="editForm" (submit)="edit()">
    <ion-item class="input ion-no-padding" id="editable">
      <ion-label color="dark" position="floating">Username</ion-label>
      <ion-input
        color="dark"
        formControlName="displayName"
        placeholder="Enter your username"
      >
      </ion-input>
    </ion-item>

    <app-form-validation
      [isSubmitted]="isSubmitted"
      [validations]="validations.displayName"
      [control]="controls.displayName"
    ></app-form-validation>

    <ion-item class="input ion-no-padding" id="static">
      <ion-col>
        <ion-row>
          <ion-label color="dark">Email</ion-label>
        </ion-row>
        <ion-row>
          <ion-text color="dark">{{email}}</ion-text>
        </ion-row>
      </ion-col>
    </ion-item>

    <div id="formAlert">
      <ion-text color="danger" *ngIf="errorMsg">{{errorMsg}}</ion-text>
    </div>
    <div id="formAlert">
      <ion-text id="success" color="success" *ngIf="successMsg"
        >{{successMsg}}</ion-text
      >
    </div>

    <ion-button type="submit" expand="block" [disabled]="isNoChangeMade">
      Save Changes
    </ion-button>
  </form>
</ion-content>
