<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
    <ion-menu-button slot="start" menu="appMenu"></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="content">
    <ion-row>
      <ion-col>
        <ion-icon name="person-outline" color="secondary"></ion-icon>
        <ion-label position="floating">{{displayName}}</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-icon name="mail" color="secondary"></ion-icon>

        <ion-label position="floating">{{email}}</ion-label>
      </ion-col>
    </ion-row>
  </div>

  <ion-button expand="block" (click)="navToEditProfile()"
    >Edit Profile</ion-button
  >
</ion-content>
