<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="signUpForm" (submit)="signUp()">
    <ion-item class="input">
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email" placeholder="Enter your email">
      </ion-input>
    </ion-item>

    <ion-item class="input">
      <ion-label position="floating">Password</ion-label>
      <ion-input
        type="password"
        formControlName="password"
        placeholder="Enter your password"
      >
      </ion-input>
    </ion-item>

    <ion-item class="input">
      <ion-label position="floating">Re enter Password</ion-label>
      <ion-input
        type="password"
        formControlName="reenteredPassword"
        placeholder="Re enter your password"
      >
      </ion-input>
    </ion-item>

    <div id="formAlert">
      <ion-text color="danger" *ngIf="errorMsg">{{errorMsg}}</ion-text>
    </div>
    <div id="formAlert">
      <ion-text id="success" color="success" *ngIf="successMsg"
        >{{successMsg}}</ion-text
      >
    </div>

    <ion-button type="submit" expand="block"> Sign Up </ion-button>
  </form>

  <ion-row id="login">
    <ion-col size="5">
      <ion-label>Already have an account?</ion-label>
      <ion-button color="secondary" (click)="navToLogin()" fill="clear">
        Login
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>
