<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Sharing is Caring :)</ion-title>
    <ion-menu-button slot="start" menu="appMenu" color="dark"></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar color="primary" slot="top">
      <ion-tab-button tab="send-all">
        <ion-label>All</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="send-image">
        <ion-label>Image</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="send-link">
        <ion-label>Link</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="send-text">
        <ion-label>Text</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
