<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title>
      <ion-icon
        id="back"
        name="chevron-back-outline"
        (click)="goBack()"
      ></ion-icon>
      <img id="icon" src="{{ballUrl}}" alt="Gachapon ball" />
      <span>View Image</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <h4 *ngIf="hasTitle()">{{ imageData?.title }}</h4>

    <div *ngIf="hasDescription()">
      <p>Description:</p>
      <p>{{ imageData?.description }}</p>
    </div>

    <img
      *ngIf="hasDownloadUrl()"
      src="{{imageData?.downloadUrl}}"
      alt="Image"
    />
  </div>
</ion-content>
