.input {
  width: 80%;
  margin: 0 auto;
}

#formAlert {
  margin: 2% auto;
  width: 80%;
  font-size: small;
}

ion-avatar {
  margin: 8% auto;
  width: 40vw;
  height: 40vw;
}

ion-button {
  width: 80%;
  margin: 8% auto;
}

ion-title {
  text-align: center !important;
}

#signUp {
  align-items: center;
  justify-content: center;
  text-align: center;

  ion-button {
    width: fit-content;
    margin: 0 auto;
    vertical-align: middle;
    font-size: small;
  }

  ion-label {
    height: fit-content;
    vertical-align: middle;
    font-size: small;
  }
}

#forgotPassword {
  width: fit-content;
  margin: 0 auto;
  font-size: small;
}
