<ion-header>
  <ion-toolbar>
    <ion-title>Totoro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-avatar>
    <img src="../../../../assets/images/totoro.jpeg" />
  </ion-avatar>

  <ion-item class="input">
    <ion-label position="floating">Email</ion-label>
    <ion-input placeholder="Enter your email"> </ion-input>
  </ion-item>

  <ion-item class="input">
    <ion-label position="floating">Password</ion-label>
    <ion-input placeholder="Enter your password"> </ion-input>
  </ion-item>

  <ion-button expand="block"> Login </ion-button>
</ion-content>
