<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Totoro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-avatar>
    <img src="../../../../assets/images/totoro.jpeg" />
  </ion-avatar>

  <form [formGroup]="loginForm" (submit)="login()" (keyup.enter)="login()">
    <ion-item class="input">
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email" placeholder="Enter your email">
      </ion-input>
    </ion-item>

    <ion-item class="input">
      <ion-label position="floating">Password</ion-label>
      <ion-input
        type="password"
        formControlName="password"
        placeholder="Enter your password"
      >
      </ion-input>
    </ion-item>
    <ion-button
      id="forgotPassword"
      fill="clear"
      color="secondary"
      expand="block"
    >
      Forgot Password?
    </ion-button>

    <div id="formAlert">
      <ion-text color="danger" *ngIf="errorMsg">{{errorMsg}}</ion-text>
    </div>

    <ion-button type="submit" expand="block"> Login </ion-button>
  </form>

  <ion-row id="signUp">
    <ion-col size="5">
      <ion-label>Don't have an account?</ion-label>

      <ion-button color="secondary" (click)="navToSignUp()" fill="clear">
        Sign Up
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>
