#errorMsg {
  margin: 2% auto;
  width: 80%;
  font-size: small;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 90%;
  max-height: 80%;
  width: auto;
  height: auto;
}

.input {
  width: 80%;
  margin: 0 auto;
}

.instruction {
  padding: 2% 0;
}

ion-button {
  width: 80%;
  margin: 5% auto;
}
