<ion-content (click)="getImageFromGallery()">
  <div class="ion-text-center instruction">
    <ion-text color="light" *ngIf="hasSelectedImage() && !isUploading" class=""
      >Tap to select another photo</ion-text
    >
  </div>

  <img src="{{previewImgUrl}}" alt="Tap anywhere to upload an image" />
</ion-content>

<form [formGroup]="uploadForm" *ngIf="hasSelectedImage()">
  <ion-item class="input ion-no-padding">
    <ion-label color="dark" position="floating">Title (Optional)</ion-label>
    <ion-input color="dark" formControlName="title" placeholder="Enter a title">
    </ion-input>
  </ion-item>

  <ion-item class="input ion-no-padding">
    <ion-label color="dark" position="floating"
      >Description (Optional)</ion-label
    >
    <ion-input
      color="dark"
      formControlName="description"
      placeholder="Enter a description"
    >
    </ion-input>
  </ion-item>
</form>

<ion-button
  *ngIf="hasSelectedImage()"
  expand="block"
  (click)="upload()"
  [disabled]="isUploading"
>
  {{uploadButtonText}}
</ion-button>

<div id="errorMsg">
  <ion-text color="danger" *ngIf="errorMsg">{{errorMsg}}</ion-text>
</div>
