<ion-header>
  <ion-toolbar color="primary">
    <ion-menu-button slot="start" menu="appMenu" color="dark"></ion-menu-button>
    <ion-title>Welcome {{displayName}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="machine-container">
    <img id="machine" src="{{machineUrl}}" alt="Gachapon machine" />
  </div>
</ion-content>

<ion-footer>
  <img id="machine-base" src="{{baseUrl}}" alt="Gachapon machine base" />
  <img
    id="machine-knob"
    src="{{knobUrl}}"
    alt="Gachapon machine knob"
    (click)="animateMachine()"
  />
</ion-footer>
