<ion-header>
  <ion-toolbar color="primary">
    <ion-menu-button slot="start" menu="appMenu" color="dark"></ion-menu-button>
    <ion-title>Welcome {{displayName}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <strong>This is our homepage</strong>
    <p>
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://ionicframework.com/docs/components"
        >UI Components</a
      >
      for reference
    </p>
  </div>
</ion-content>
