<ion-header>
  <ion-toolbar color="primary">
    <ion-menu-button slot="start" menu="appMenu" color="dark"></ion-menu-button>
    <ion-title>Welcome {{displayName}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="overlay" *ngIf="isShowingMessage"></div>

  <ion-card id="message" *ngIf="isShowingMessage">
    <ion-avatar><img src="{{ballUrl}}" alt="Gachapon ball" /></ion-avatar>
    Hello
    <ion-button expand="block" (click)="hideMessage()">Done</ion-button>
  </ion-card>

  <div id="machine-container">
    <div id="machine">
      <img id="machine-img" src="{{machineUrl}}" alt="Gachapon machine" />

      <img id="machine-base" src="{{baseUrl}}" alt="Gachapon machine base" />

      <img
        id="machine-knob"
        src="{{knobUrl}}"
        alt="Gachapon machine knob"
        (click)="onClickKnob()"
      />
    </div>
  </div>
</ion-content>
