#back {
  vertical-align: middle;
  margin-right: 2%;
}

div {
  text-align: justify;
  text-justify: inter-word;
  margin: 5% 5% 5% 5%;
  color: var(--ion-color-dark);
}

h4 {
  display: inline;
  text-align: justify;
  text-justify: inter-word;
  margin: 0 5% 2% 5%;
  color: var(--ion-color-dark);
}

img {
  height: 5vh;
  width: auto;
  vertical-align: middle;
  margin-right: 2%;
}

span {
  display: inline-block;
  vertical-align: middle;
}
