<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title>
      <ion-icon
        id="back"
        name="chevron-back-outline"
        (click)="goBack()"
      ></ion-icon>
      <img id="icon" src="{{ballUrl}}" alt="Gachapon ball" />
      <span>View link</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-edit-link *ngIf="isOwner()" [docId]="docId"></app-edit-link>

  <div *ngIf="!isOwner()">
    <h4 *ngIf="hasTitle()">{{ linkData?.title }}</h4>

    <div *ngIf="hasDescription()">
      <p>Description:</p>
      <p>{{ linkData?.description }}</p>
    </div>

    <div>
      <p>Link:</p>
      <a href="formatLink(linkData?.link)" target="_blank"
        >{{ linkData?.link }}</a
      >
    </div>
  </div>
</ion-content>
