a {
  display: inline-block;
  text-align: justify;
  text-justify: inter-word;
  color: var(--ion-color-dark);
  margin: 0 5% 5% 5%;
}

div {
  text-align: justify;
  text-justify: inter-word;
  margin: 0 5% 5% 5%;
  color: var(--ion-color-dark);
}

h4 {
  text-align: justify;
  text-justify: inter-word;
  margin: 0 5% 2% 5%;
  color: var(--ion-color-dark);
}
