<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start" menu="appMenu"></ion-menu-button>
    <ion-title>My Collection</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="my-collection-all">
        <ion-icon name="albums"></ion-icon>
        <ion-label>All</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="my-collection-text">
        <ion-icon name="document-text"></ion-icon>
        <ion-label>Text</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="my-collection-links">
        <ion-icon name="link"></ion-icon>
        <ion-label>Links</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="my-collection-images">
        <ion-icon name="camera"></ion-icon>
        <ion-label>Images</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>


</ion-content>
